In [1]:
import numpy as np
import pandas as pd
l=[10,20,30,40,50]
s1=pd.Series(data=l)
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
s2=pd.Series(data=l,index=['a','b','c','d','e',])
s2

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [3]:
type(s1)

pandas.core.series.Series

In [4]:
a=np.random.randn(5,4)
a

array([[ 0.89153085,  0.4670306 , -0.36677217,  0.85309925],
       [ 2.23635857, -0.25656335,  1.34054222,  0.14396901],
       [-1.4174246 ,  0.27723465, -0.48795052, -1.58617541],
       [ 0.10760771,  0.05915061,  0.99295036, -0.04088779],
       [ 0.34136744,  0.90862947, -1.26549109, -0.54223029]])

In [5]:
a=pd.DataFrame(np.random.randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
a

          W         X         Y         Z
A  2.265122  0.164723  0.615347  0.077244
B -0.045296 -0.014547  0.763957  1.370160
C  1.063371 -0.076554 -0.164571  0.676028
D -0.559603  0.131486 -0.506876 -0.040699
E  2.048696 -1.201482 -0.070415 -1.835649

In [6]:
a.Y['A']

0.6153473026790861

In [7]:
a.Z['C']

0.6760278115725964

In [8]:
a[['W','Z']]

          W         Z
A  2.265122  0.077244
B -0.045296  1.370160
C  1.063371  0.676028
D -0.559603 -0.040699
E  2.048696 -1.835649

In [9]:
#Accessing data with index values - Use loc
print(a.loc["A"])

W    2.265122
X    0.164723
Y    0.615347
Z    0.077244
Name: A, dtype: float64

In [10]:
#Acdessing data with index - use i loc 
print(a.iloc[0])

W    2.265122
X    0.164723
Y    0.615347
Z    0.077244
Name: A, dtype: float64

In [11]:
#subsetting based on boolean condition
a[a>0]
#a>0

/home/u204867/.local/lib/python3.9/site-packages/pandas/io/formats/format.py:1595: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/home/u204867/.local/lib/python3.9/site-packages/pandas/io/formats/format.py:1596: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/home/u204867/.local/lib/python3.9/site-packages/pandas/io/formats/format.py:1596: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

          W         X         Y         Z
A  2.265122  0.164723  0.615347  0.077244
B       NaN       NaN  0.763957  1.370160
C  1.063371       NaN       NaN  0.676028
D       NaN  0.131486       NaN       NaN
E  2.048696       NaN       NaN       NaN

In [12]:
#dropping rows and columns by drop method 
#print(a.drop('a',axis=0,inplace=False))
print(a.drop('W',axis=1,inplace=False))
#a.drop('A',axis=0,inplace=True)
#print(a)

          X         Y         Z
A  0.164723  0.615347  0.077244
B -0.014547  0.763957  1.370160
C -0.076554 -0.164571  0.676028
D  0.131486 -0.506876 -0.040699
E -1.201482 -0.070415 -1.835649

In [13]:
#dropping rows and columns by drop method 
#print(a.drop('a',axis=0,inplace=False))
#print(a.drop('W',axis=1,inplace=False))
a.drop('B',axis=0,inplace=True)
print(a)

          W         X         Y         Z
A  2.265122  0.164723  0.615347  0.077244
C  1.063371 -0.076554 -0.164571  0.676028
D -0.559603  0.131486 -0.506876 -0.040699
E  2.048696 -1.201482 -0.070415 -1.835649

In [14]:
#dropping rows and columns by drop method 
print(a.drop('C',axis=0,inplace=False))
#print(a.drop('W',axis=1,inplace=False))
#a.drop('A',axis=0,inplace=True)
#print(a)

          W         X         Y         Z
A  2.265122  0.164723  0.615347  0.077244
D -0.559603  0.131486 -0.506876 -0.040699
E  2.048696 -1.201482 -0.070415 -1.835649

In [15]:
#dropping missing values
d={'A':[1,2,np.NAN], 'B':[1,np.NaN,np.NaN], 'C':[1,2,3]}
#np.NAN is the missing element in DataFrame 
a=pd.DataFrame(d)
#print(a)
a.dropna()
#df5.dropna(axis=1)
#df5.dropna(thresh=2)

     A    B  C
0  1.0  1.0  1

In [16]:
#dropping missing values
d={'A':[1,2,np.NAN], 'B':[1,np.NaN,np.NaN], 'C':[1,2,3]}
#np.NAN is the missing element in DataFrame 
a=pd.DataFrame(d)
#print(a)
#a.dropna()
#a.dropna(axis=1)
a.dropna(thresh=2)

/home/u204867/.local/lib/python3.9/site-packages/pandas/io/formats/format.py:1595: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/home/u204867/.local/lib/python3.9/site-packages/pandas/io/formats/format.py:1596: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/home/u204867/.local/lib/python3.9/site-packages/pandas/io/formats/format.py:1596: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

     A    B  C
0  1.0  1.0  1
1  2.0  NaN  2

In [17]:
#dropping missing values
d={'A':[1,2,np.NAN], 'B':[1,np.NaN,np.NaN], 'C':[1,2,3]}
#np.NAN is the missing element in DataFrame 
a=pd.DataFrame(d)
#print(a)
#a.dropna()
a.dropna(axis=1)
#a.dropna(thresh=2)

   C
0  1
1  2
2  3

In [18]:
#Filling missing values with something 
print(a)
a['A'].fillna(value=a['A'].mean())

     A    B  C
0  1.0  1.0  1
1  2.0  NaN  2
2  NaN  NaN  3

/home/u204867/.local/lib/python3.9/site-packages/pandas/io/formats/format.py:1595: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/home/u204867/.local/lib/python3.9/site-packages/pandas/io/formats/format.py:1596: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/home/u204867/.local/lib/python3.9/site-packages/pandas/io/formats/format.py:1596: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [19]:
#Reading from a file 
a = pd.read_csv("data9.csv")
print(type(a))

<class 'pandas.core.frame.DataFrame'>

In [20]:
#Reading from a file 
a = pd.read_csv("test1.csv")
print(type(a))

<class 'pandas.core.frame.DataFrame'>

In [21]:
print(a)

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]